body {
  
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px;
  }

  .sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: gray;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: white;
  }

  .menuBtn:hover {
    cursor: pointer;
  }
