
#title{
  color: gray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#para1 {
  color: gray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#link1{
  border-radius: 25px;
  background-color: #F39FF3;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
}
#link2{
  border-radius: 25px;
  background-color: #F39FF3;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
}
#link1:hover{
  padding 15px 30px;
}
#link2:hover{
  padding 15px 30px;
}
#link3:hover{
  padding 15px 30px;
}
#link3{
  border-radius: 25px;
  background-color: #F39FF3;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
}
#links{
  position: absolute;
  top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
a:link{  
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
