body {
  background: darkgray;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: gray;
  display: block;
  width: 200px;
  transition: 0.3s;
  padding: 8px 8px 8px 32px;
}

.sidenav a:hover {
  color: white;
}

#menuBtn {
  color: white;
  cursor: pointer;
}

.main {
  margin-left: 250px;
  transition: 0.3s;
}

.closeBtn {
  margin-left: 68%;
}

#homepagePage {
  display: block;
  margin-top: 20%;
  margin-left: 50%;
}

#aboutMePage {
  display: none;
  text-align:center;
}

#contactsPage {
  display: none;
  margin-top: 20%;
  margin-left: 50%;
}

#projectsPage {
  display: none;
  margin-top: 20%;
  margin-left: 50%;
}

.contactspage img {
  width: 20px;
  height: 20px;
}
