<div class="backgroundPage">
    <div class="row d-flex border-bottom">
        <app-sidenav class="col-1 highPriority"></app-sidenav>
        <span class="col-10 titleText">Projects</span>
    </div>
    <div class="row d-flex justify-content-center backgroundCards">
        <div class="container d-flex justify-content-center">
            <div *ngFor="let p of projects" class="col-1 projectCard">
                <div class="row d-flex justify-content-center">
                    {{p.header}}
                </div>
                <div class="row d-flex justify-content-center">
                    {{p.content}}
                </div>
                <div class="row d-flex justify-content-center">
                    <a style="text-align:center;" target="_blank" href="{{p.link}}">{{p.linkComment}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

